body{
    background-color: rgb(255, 239, 241);
    display: flex;
    flex-direction: column;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

div{
    padding: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgb(132, 74, 74);
    width: 40%;
    height: auto;
    max-width: 500px;
    border-radius: 30px;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
}

#typeBox2{
    border: 5px;
    border-color: grey;
    border-style: solid;
    outline: none;
}
